body {
     padding: 30px 20px 0 20px;
     background-image: url("../imagenes/mapa.jpg");
     background-size: 2600px;
     height: 100%;
    background-repeat: no-repeat;
  }
.demo-title span {
   color: #29A1D3;
    }
.demo-title h1 {
  font-weight: bold;
    }
.panel-body {
    min-height: 502px;
    }
#page-footer {
  padding: 30px;
    }
#padding-center{
        padding: 30px 20px 0 20px;
 
}
#spanfooter #page-footer{
    padding-top: 40%;
}